// colors

$turquoise: #26a69a;
$lightTurquoise: rgba(38, 166, 154, .4);
$backgroundTurquoise: rgb(38, 166, 154, .95);
$black: rgba(48, 69, 92, 1);
$white: rgba(254, 255, 250, 1);
$blue: rgba(120, 151, 163, 0.98);
$light-blue: rgba(120, 151, 163, 0.5);
$red: rgba(255, 104, 115, 1);
$darkRed: rgba(255, 104, 115, 1);
$purple: #bbdefb;
$darkPurple: #90caf9;
$orange: #ffe0b2;
$darkOrange: #ffcc80;
$grey: #929292;
$darkenGrey: #b5b5b5;
$borderTable: #d1d0d2;