@import "variables";

.app-content {
  height: 100vh;

  .app-page {
    height: 100%;
  }
}

.table-wrapper {
  overflow: auto;
  height: -webkit-calc(100vh - 273px);
  height: calc(100vh - 273px);
  background-color: rgba(224, 224, 224, 0.5);
  border: 1px solid $borderTable;
  table {
    background-color: #fff;
    table-layout: fixed;
    position: relative;

    //tbody {
    //  tr.decision {
    //    background-color: $darkRed;
    //
    //    &:hover {
    //      background-color: $red;
    //    }
    //  }
    //
    //  tr.doubt {
    //    background-color: $darkOrange;
    //
    //    &:hover {
    //      background-color: $orange;
    //    }
    //  }
    //}

    th {
      background-color: $turquoise;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      cursor: pointer;
      color: $white;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      position: sticky;
      top: 0;
      transition: all .5s;
      -webkit-box-shadow: 0 1px 4px 0 $light-blue;
      box-shadow: 0 1px 4px 0 $light-blue;
      span {
        font-size: .6875rem;
        font-style: italic;
      }

      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        font-size: .78rem;
        padding: 7px;
      }
    }

    th:first-child {
      width: 50px;
    }
    th:not(:first-child) {
      font-size: .8rem;

      i.material-icons.tiny {
        position: absolute;
        top: .5rem;
        right: .5rem;
      }

      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "\2193";
        font-size: 1rem;
      }

      &:before {
        right: 1em;
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        content: "\2191";
        font-size: 1rem;
      }

      &:hover {
        background-color: $backgroundTurquoise;
        transition: background-color .5s;
      }
    }

    th.active.toggle {
      &:after {
        opacity: .3;
      }

      &:before {
        opacity: 1;
      }
    }

    th.active {
      &:after {
        opacity: 1;
      }

      &:before {
        opacity: .3;
      }
    }

    td {
      font-size: .95rem;
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        font-size: .85rem;
        padding: 7px;
      }

      a {
        display: block;
        cursor: pointer;
        color: $black;
      }
    }

    th, td {
      border: 1px solid $borderTable;
      border-collapse: collapse;
      text-align: center;
    }

    .highlight > tbody > tr:hover {
      background-color: $blue;
    }
  }
}

.newWorker {
  background-color: $purple;
}

.newWorkerClass {
  color: $red !important;
}

.img_attachment {
  margin-bottom: 0 !important;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 10px;
  height: -webkit-calc(100vh - 175px);
  height: calc(100vh - 175px);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  ul.tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid $black;
    li.indicator{
      background-color: $white;
      height: 1px;
    }
    .tab a {
      color: $white;
      background-color: $darkenGrey;
    }


    .tab a.active, .tab a:hover, .tab a:focus, .tab a:focus.active {
      color: $white;
      background-color: $grey;
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    ul.tabs {
      height: 40px;
      .tab {
        line-height: 40px;
        height: 40px;

        a {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    ul.tabs {
      height: 40px;

      .tab {
        line-height: 40px;
        height: 40px;

        a {
          font-size: 12px;
        }
      }
    }
  }
}


div.profile, div#preview {
  max-width: 150px;
  max-height: 150px;
  margin-right: 10px;
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  background: center center no-repeat;
  background-size: cover;
}


@media(max-width: 1023px) {
  .app-main-layout {
    .app-content {
      padding-left: 0;
      transition: padding-left .3s;
    }

    .app-sidenav.open {
      transform: translateX(-105%);
    }
  }
}
